body {
	font-family: 'Open Sans', sans-serif;
}
.table-hover tbody tr:hover > td.old {
  display: none;
}
.table-hover tbody tr:hover > td.new {
 display: table-cell;
}
.table-hover tbody tr > td.new {
 display: none;
}

table {
	margin: 0px auto;
}

tr.overten {
	display: none;
}

button.above-ten {
}

.text-center {
	text-align: center;
}

button.above-ten {
	color: white;
	font-size: 12px;
	font-weight: 700;
	padding: 3px 6px;
	background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:-ms-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:linear-gradient(top,#ee5f5b,#bd362f);
	border-radius: 4px;
}