body {
	font-family: 'Donegal One', sans-serif;
}


.table-hover tbody tr:hover > td.old {
  display: none;
}
.table-hover tbody tr:hover > td.new {
 display: table-cell;
}
.table-hover tbody tr > td.new {
 display: none;
}

table {
	margin: 0px auto;
}